<link rel="stylesheet" href="/stylesheets/app.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CampFinder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
            <a class="nav-link btn btn-navbar btn-success text-white" href="/login"><i class="bi bi-door-open"></i> Login</a>
            <a class="nav-link btn btn-navbar btn-primary text-white" href="/register"><i class="bi bi-person-add"></i> Sign Up</a>
          <% } else { %>
            <a class="nav-link btn btn-navbar btn-success text-white" href="/campgrounds/new"><i class="bi bi-plus-square"></i> New Campground</a>
            <a class="nav-link btn btn-navbar btn-danger text-white" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>